/* Footer Container */
.footer-container {
  background-color: #000000;
  color: #fff;
  padding: 20px;
  font-family: Arial, sans-serif;
}

.gradient-bar {
  background: linear-gradient(90deg, #eb8232, #eb6fdb);
  text-align: center;
  padding: 20px 0;
}

.lets-talk-btn {
  background-color: #15213b;
  color: #fff;
  font-size: 1.2rem;
  font-weight: bold;
  padding: 12px 30px;
  border: none;
  border-radius: 20px; /* Rounded corners */
  cursor: pointer;
  text-transform: uppercase;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  transition: all 0.3s ease;
}

.lets-talk-btn:hover {
  background: linear-gradient(90deg, #ea550b, #f1d928);
  transform: scale(1.05); /* Subtle scaling on hover */
}

.footer-content {
  display: flex;
  justify-content: space-between;
  padding: 20px 0;
  border-top: 2px solid #444;
  border-bottom: 4px solid #444;
}

.footer-logo img {
  width: 250px; /* Increased logo size */
  max-width: 100%; /* Ensure responsiveness */
}

.contact-info {
  margin: 10px 0;
}

.contact-info p {
  color: white;
  text-align: center;
  margin: 10px 0;
}

.contact-info a {
  text-decoration: none; /* Removes underline */
  color: inherit; /* Optional: Matches the text color */
}
.contact-info a {
  color: #348fff;
  text-decoration: none;
}

.footer-links a {
  font-weight: 600;
  text-decoration: none !important; /* Removes underline */
  color: #fff;
  display: block;
  margin: 5px 0;
}

.footer-links a:hover {
  text-decoration: none; /* Ensures no underline on hover */
  color: #ea550b;
}

.social-icons {
  display: flex;
  justify-content: center;
  gap: 15px;
  margin: 20px 0;
}

.social-icons a {
  font-size: 1.5rem;
  color: #fff;
  transition: color 0.3s ease;
}

.social-icons a:hover {
  color: #f76014;
}

.footer-copyright {
  color: white;
  text-align: center;
  margin-top: 10px;
}
.footer-copyright p {
  color: white;
}

/* Powered By Section */
.powered-by {
  text-align: center;
  font-size: 1rem;
  font-weight: bold;
  margin-top: 5px;
  background: linear-gradient(90deg, #ff6600, #ff3300);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: glow 1.5s infinite alternate;
}

.powered-by span {
  font-weight: bold;
  text-shadow: 0 0 5px rgba(255, 102, 0, 0.6);
}

/* Responsive Design */

/* Glow Effect Animation */
@keyframes glow {
  from {
    text-shadow: 0 0 10px rgba(255, 102, 0, 0.8),
      0 0 20px rgba(255, 102, 0, 0.5);
  }
  to {
    text-shadow: 0 0 20px rgba(255, 51, 0, 0.9), 0 0 30px rgba(255, 51, 0, 0.6);
  }
}

@media (max-width: 768px) {
  .footer-content {
    flex-direction: column;
    align-items: center;
  }

  .footer-logo img {
    width: 200px; /* Slightly smaller logo on smaller screens */
  }

  .social-icons {
    gap: 10px;
  }

  .lets-talk-btn {
    width: 100%;
    padding: 15px 0;
    font-size: 1rem;
  }
}
